// Index

.purchase-container {
    width: 100%;
    min-height: 90vh;
    padding: 5 15px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--c3);
}

.purchase-card {
    background-color: var(--c2);
    min-width: 210px;
    max-height: 160px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    box-shadow: .2rem .2rem .2rem var(--c4);
    transition: all 0.5s;
}

.purchase-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: .3rem .3rem .3rem var(--c4);
}

.purchase-card-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.purchase-card-description p {
    font-size: 17px;
}

.purchase-card-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.purchase-img {
    width: 40px;
    text-align: center;
}

.purchase-amount p {
    font-size: 25px;
}

.purchase-overview {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.purchase-purchases {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}


.purchase-btn {
    background-color: var(--c4);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    padding: 13px 30px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
    // max-height: 55px;
}

.purchase-btn:active {
    transform: scale(.95);
}

.purchase-btn:focus {
    outline: none;
}

.purchase-btn:hover {
    text-decoration: none;
    color: #fff;
}

// End Index

// Form

.purchase-form {
    width: 100%;
    background-color: var(--c3);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Muli, sans-serif;
    font-size: 20px;
}

.purchase-form-form {
    width: 90%;
    padding: 0 auto;
}

.purchase-form-form h2 {
    text-align: center;
}

.purchase-form-container {
    background-color: var(--c2);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content : center;
    margin: 40px 0;
}

.purchase-form-container label {
    width: 100%;
    margin-top: 10px;
}

.purchase-form-container input {
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    color: #fff;
}

.purchase-form-container input:focus {
    outline: none;
}

#purchase-form-btn {
    margin: 25px 0 10px 0;
    color: #fff;
    background-color: var(--c5);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: var(--c5);
}


.purchase-form-btn:active {
    transform: scale(0.97);
}

.purchase-form-radio-inner {
    display: flex;
    justify-content: space-between;
}

.purchase-form-radio-option {
    display: flex;
    max-width: 33%;
    // flex-direction: c
}

.purchase-form-radio-option label {
    margin-right: 10px;
}

// End Form